
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'sans-serif';
    box-sizing: border-box;
}

body {
    background: #427f8d;
    color: #2d464c;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

.card {
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg, #5c8a7d, #5b548a);
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.search input {
    border: 0;
    outline: 0;
    background: white;
    color: #283618;
    padding: 10px 25px;
    height: 50px;
    flex: 1;
    margin-right: 16px;
    font-size: 16px;
    border-radius: 30px;
}

.search button {
    border: 0;
    outline: 0;
    background: white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search button img {
    width: 24px;
    height: 24px;
}

.weather-icon {
    width: 100px;
    margin: 20px auto;
}

.weather h1 {
    font-size: 2.5rem;
    font-weight: 500;
    margin: 10px 0;
    color: #fefae0;
}

.weather h2 {
    font-size: 1.8rem;
    font-weight: 400;
    color: white;
}

.detail {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    margin-top: 20px;
    flex-wrap: wrap;
}

.col {
    display: flex;
    align-items: center;
    text-align: left;
    margin-bottom: 10px;
    flex: 1 1 45%;
    justify-content: center;
    color: white;
}

.col img {
    width: 30px;
    margin-right: 10px;
    /* color: white; */
}

.humidity, .wind {
    font-size: 1.2rem;
    margin-top: -5px;
    color: white;
}

.error {
    display: none;
    background: rgba(255, 255, 255, 0.2);
    padding: 10px;
    border-radius: 8px;
    font-size: 0.9rem;
    text-align: center;
    margin-top: 10px;
}

@media (max-width: 768px) {
    .weather h1 {
        font-size: 2rem;
    }

    .weather h2 {
        font-size: 1.5rem;
    }

    .col {
        flex: 1 1 100%;
    }

    .detail {
        padding: 0;
    }
}